img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

body{
    font-family: 'Supermercado One', cursive;
}

.body-container{
    padding-top: 1%;
}

.footer1 {
    padding: 5%;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-left:50px;
  }
  .container{
    padding-top: 5500px;
  }
  .col-sm-4{
    color:blue;
  }